body { background: #4e4b2f; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 24px; display: flex; }
.block-token-0 { color: #e9787f; font-size: 12px; margin-bottom: 5px; }
.block-logger-1 { color: #bb663c; font-size: 18px; margin-bottom: 5px; }
.block-email-2 { color: #a5679e; font-size: 21px; margin-bottom: 5px; }
.block-token-3 { color: #1459dd; font-size: 17px; margin-bottom: 5px; }
.block-order-4 { color: #5d0f55; font-size: 16px; margin-bottom: 5px; }